.hero{
    background-color: #FF90BC;
}
.resume{
    background-color: #FFC0D9;
}
.about-me{
    background-color: #F9F9E0;
}
.contact-me{
    background-color: #8ACDD7;
}
.footer{
    background-color: #FF90BC;
}